{% extends "basepage.html" %}
{% load i18n %}
{% block page_meta %}{{ form.media|safe }}{% endblock %}
{% block title %}Test 1{% endblock %}
{% block content %}
<div id="header"><div id="headerimg"><div id="headertxt"><h1>Recipedia</h1>
<div id="desc">description</div>
</div></div></div><div id="page">
<div id="content" class="narrowcolumn">
<h2 class="pagetitle">{% trans "Step 1: Basic Info of your recipe" %}</h2><p></p>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
    <tr>
        <th class="th-left">{{ form.name.label_tag }} : <br><div class="helptext">{{ form.name.help_text }}</div></th>
        <td colspan="3">
        {% if form.name.errors %}<ul class="errorlist">{{ form.name.errors }}</ul>{% endif %}
        {{ form.name }}
        {% if form.name.field.required %} require <img src="{% url c_media "required.png" %}" alt="Required" width="8" height="8" />{% endif %}
        </td>
    </tr>
    <tr>
        <th class="th-left">{{ form.tag.label_tag }} : <br><div class="helptext">{{ form.tag.help_text }}</div></th>
        <td colspan="3">
        {% if form.tag.errors %}<ul class="errorlist">{{ form.tag.errors }}</ul>{% endif %}
        {{ form.tag }}
        {% if form.tag.field.required %} require <img src="{% url c_media "required.png" %}" alt="Required" width="8" height="8" />{% endif %}
        </td>
    </tr>
    <tr>
        <th class="th-left">{{ form.full_photo.label_tag }} : <br><div class="helptext">{{ form.full_photo.help_text }}</div></th>
        <td colspan="3">
        {% if form.full_photo.errors %}<ul class="errorlist">{{ form.full_photo.errors }}</ul>{% endif %}
        {{ form.full_photo }}
        {% if form.full_photo.field.required %} require <img src="{% url c_media "required.png" %}" alt="Required" width="8" height="8" />
{% endif %}
        </td>
    </tr>
    <tr>
        <th class="th-left">{{ form.thumb_photo.label_tag }} : <br><div class="helptext">{{ form.thumb_photo.help_text }}</div></th>
        <td colspan="3">
        {% if form.thumb_photo.errors %}<ul class="errorlist">{{ form.thumb_photo.errors }}</ul>{% endif %}
        {{ form.thumb_photo }}
        {% if form.thumb_photo.field.required %}require<img src="/media/images/required.png" alt="Required" width="8" height="8" />{% endif %}
        </td>
    </tr>
    </table>
    <p></p><input type="submit" value="Post it!">
    <input class="button" style="margin-top: 0px; width: 200px;" value="Post it!" href="#" />
</form>
</div>{% include "sidebar.html" %}{% include "footer.html" %}
</div>{% endblock %}
