{% extends "basepage.html" %}
{% load i18n %}
{% block page_meta %}{{ form.media|safe }}{% endblock %}
{% block title %}Test 3{% endblock %}
{% block content %}
<div id="header"><div id="headerimg"><div id="headertxt"><h1>Recipedia</h1>
<div id="desc">description</div>
</div></div></div><div id="page">
<div id="content" class="narrowcolumn"><div class="postpages">
<div class="entry"><h2>{% trans "Create Ingredient" %}</h2><p></p>
<form enctype="multipart/form-data" method="post">{% csrf_token %}
<table>
<tr>
   <th class="th-left">{{ form.name.label_tag }} : <br><div class="helptext">{{ form.name.help_text }}</div></th>
   <td colspan="3">
    {% if form.name.errors %}<ul class="errorlist">{{ form.name.errors }}</ul>{% endif %}
    {{ form.name }}
    {% if form.name.field.required %}require<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
<tr>
   <th class="th-left">{{ form.measure.label_tag }} : <br><div class="helptext">{{ form.measure.help_text }}</div></th>
   <td colspan="3">
    {% if form.measure.errors %}<ul class="errorlist">{{ form.measure.errors }}</ul>{% endif %}
    {{ form.measure }}
    {% if form.measure.field.required %}require<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
<tr>
   <th class="th-left">{{ form.category.label_tag }} : <br><div class="helptext">{{ form.category.help_text }}</div></th>
   <td colspan="3">
    {% if form.category.errors %}<ul class="errorlist">{{ form.category.errors }}</ul>{% endif %}
    {{ form.category }}
    {% if form.category.field.required %}require<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
<tr>
   <th class="th-left">{{ form.full_photo.label_tag }} : <br><div class="helptext">{{ form.full_photo.help_text }}</div></th>
   <td colspan="3">
    {% if form.full_photo.errors %}<ul class="errorlist">{{ form.full_photo.errors }}</ul>{% endif %}
    {{ form.full_photo }}
    {% if form.full_photo.field.required %}require<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
<tr>
   <th class="th-left">{{ form.thumb_photo.label_tag }} : <br><div class="helptext">{{ form.thumb_photo.help_text }}</div></th>
   <td colspan="3">
    {% if form.thumb_photo.errors %}<ul class="errorlist">{{ form.thumb_photo.errors }}</ul>{% endif %}
    {{ form.thumb_photo }}
    {% if form.thumb_photo.field.required %}require<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
</table>
    <a class="button" style="margin-top: 0px; width: 200px;" href="">Test it</a>
  <input type="submit" class="submit" value="{% if create %}Create{% else %}Update{% endif %}" />
</form>
</div></div></div>{% include "sidebar.html" %}{% include "footer.html" %}</div>
{% endblock %}
